{{ $featuredProjects := 5 }}
{{ $showMoreLinkDest := "/projects/" }}
{{ if .Site.Params.homepage.showFeatured | default false }}
{{ if index .Site.Params.homepage "showFeaturedItems" }}
{{ $featuredProjects = .Site.Params.homepage.showFeaturedItems }}
{{ end }}
<h2 class="pt-8 text-4xl font-extrabold mb-10">Projects</h2>

{{ if and .Site.Params.homepage.cardView (not .Site.Params.homepage.cardViewScreenWidth) | default false }}
  {{ partial "featured-projects/cardview.html" . }}
{{ else if and .Site.Params.homepage.cardView .Site.Params.homepage.cardViewScreenWidth | default false }}
  {{ partial "featured-projects/cardview-fullwidth.html" . }}
{{ else }}
  {{ partial "featured-projects/list.html" . }}
{{ end }}

{{ if .Site.Params.homepage.showMoreLink | default false }}
{{ if index .Site.Params.homepage "showFeaturedProjectItems" }}
{{ $showMoreLinkDest = .Site.Params.homepage.showMoreLinkDest }}
{{ end }}
<div class="mt-10 flex justify-center">
  <a href="{{ $showMoreLinkDest }}">
    <button
      class="hover:text-primary-500 prose dark:prose-invert font-semibold py-2 px-4 border border-primary-500 rounded shadow-xl hover:shadow-lg">
      {{ i18n "recent.show_more" | markdownify }}
    </button>
  </a>
</div>
{{ end }}
{{ end }}