{{ with .Params.links }}
    {{ range $links := . }}
    {{ range $name, $url := $links }}
    {{ $config := index $.Site.Data.link_configs $name }}
    <a class="!rounded-md py-2 !text-neutral !no-underline"
        style="background-color: {{ if $config }}{{ $config.color }}{{ else }}#6366f1{{ end }}; padding-left: 3rem; padding-right: 3rem;"
        onmouseover="this.style.filter='brightness(0.85)';"
        onmouseout="this.style.filter='brightness(1)';"
        href="{{ $url }}" target="_blank" rel="external" role="button">
        {{ if $config }}
        {{ partial "inline-icon.html" $config.icon }}{{ $config.display }}
        {{ else }}{{ $name }}
        {{ end }}
    </a>
    {{ end }}
    {{ end }}
{{ end }}